<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
 <title><%= content_for?(:title) ? yield(:title) : "Groffle - Create Cool Typography Artwork by Drawing Doodles" %></title>
 	<%= metamagic :title => @title %>
	<% meta :description => "Groffle is a fun way for creating typographic art.",
 :keywords => "word cloud, typograhpy, art, creative, groffle" %>
 
    <%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/cupertino/jquery-ui.css" %>
	
	<%= favicon_link_tag %>
	<%= javascript_include_tag "https://connect.facebook.net/en_US/all.js"%>
	<%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
	
	<script type="text/javascript"> 
	if (self.location.href!=top.location.href)
	 {
		 top.location.href="<%=request.url%>"; 
	 }
  </script>
	
	<script type="text/javascript">
	$(document).ready(function(){
	  <% flash.each do |name, msg| %>
	  window.notify("<%=msg%>", "Notice");
      <% end %>
  });
  
  FB.init({
  	appId: <%=ENV['FB_APP_ID']%>, cookie: true,
  	status: true, xfbml: true
  });
  
	
	</script>
  </head>
  <body>
	  <div id="fb-root"></div>
	  <script>(function(d, s, id) {
	    var js, fjs = d.getElementsByTagName(s)[0];
	    if (d.getElementById(id)) return;
	    js = d.createElement(s); js.id = id;
	    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%=ENV['FB_APP_ID']%>";
	    fjs.parentNode.insertBefore(js, fjs);
	  }(document, 'script', 'facebook-jssdk'));</script>
	<div id ="logo_bar">		
		<div id="logo">
		<%=link_to root_path do%>
			<span class="main">Groffle</span><span class="domain">.me</span>
		<%end%>
		
		</div>
		<span id="tagline">Create your own typography art.</span>

	</div>
	<div id="header">
		<div id="header-right">
		<div id="user_nav">
		  <% if user_signed_in? %>
		    Hi <span id="artist_name"><%= current_user.nickname || current_user.email %></span>!
		    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
		  <% else %>
		    <%= link_to '/auth/facebook' do%> 
  		  <div class="sign-in-fb">
			Sign up or sign in	      
		  </div>

			<%end%>
		  <% end %>
		</div>
		<div id="main_menu">
		<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FGroffle&amp;send=false&amp;layout=button_count&amp;width=30&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=trebuchet+ms&amp;height=21&amp;appId=415282955156503" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px; display: inline;" allowTransparency="true"></iframe>
		  <ul>
  			<li><%=link_to "My", :controller=> "/templates", :action=>"my"%></li>
			
  			<li><%=link_to "Popular", :controller=> "/templates", :action=>"popular"%></li>
  			<li><%=link_to "Newest", :controller=> "/templates", :action=>"newest"%></li>
 			<li class="last"><%=link_to "Invite", {:controller => "/facebook", :action=>"invite"}, :remote=> true%></li>
	
  			<%if current_user %>
  			<%end%>
  		</ul>
		</div>
	   </div>
		<div id="header-middle">
	        <%= content_tag :h1, yield(:title) if show_title? %>
			
		<%=yield(:header)%>
		</div>
	</div>
	  
    <div id="container">	
      <%= yield %>
    </div>
	
	<script type="text/javascript">
	  var uvOptions = {};
	  (function() {
	    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
	    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/HmTnaUHev8bB84UrxIBcCQ.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
	  })();
	</script>
  </body>
</html>
