<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
 <title><%= content_for?(:title) ? yield(:title) : "Groffle - Create Typographic Art" %></title>
 	<%= metamagic :title => @title %>
	<% meta :description => "Groffle is a fun way for creating typographic art.",
 :keywords => "word cloud, typograhpy, art, creative, groffle" %>
 
    <%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/cupertino/jquery-ui.css" %>
	
	<%= favicon_link_tag %>
	<%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
	
	<script type="text/javascript">
	$(document).ready(function(){
	  <% flash.each do |name, msg| %>
	  window.notify("<%=msg%>", "Notice");
      <% end %>
  });
	
	</script>
  </head>
  <body>
	<div id ="logo_bar">
		<%=link_to root_path do%>
		<div id="logo"><span class="main">Groffle</span><span class="domain">.me</span></div>
		<%end%>
		<span id="tagline">Create your own typography art.</span>
	</div>
	<div id="header">
		<div id="left-blank">&nbsp;</div>
		<div id="user_nav">
		  <% if user_signed_in? %>
		    Hello <span id="artist_name"><%= current_user.nickname || current_user.email %></span>!
		    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
		  <% else %>
		    <%= link_to "Sign up", new_user_session_path %> or <%= link_to "sign in", new_user_session_path %>
		  <% end %>
		</div>
		<div id="main_menu">
  		<ul>
  			<li><%=link_to "My", :controller=> "/templates", :action=>"my"%></li>
			
  			<li><%=link_to "Popular", :controller=> "/templates", :action=>"index"%></li>
  			<li class="last"><%=link_to "Newest", :controller=> "/templates", :action=>"newest"%></li>
 					
  			<%if current_user%>
  			<%end%>
  		</ul>
		</div>
	   
        <%= content_tag :h1, yield(:title) if show_title? %>
			
		<%=yield(:header)%>
	</div>
	  
    <div id="container">	
		<div id="top-spacer">&nbsp;</div>
      <%= yield %>
    </div>
  </body>
</html>
