<!DOCTYPE html>
<html>
  <head>
 <title><%= content_for?(:title) ? yield(:title) : "Groffle - Create Typographic Art" %></title>
    <%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/cupertino/jquery-ui.css" %>
	<%= favicon_link_tag %>
	<%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
		<div id ="logo_bar">
			<div id="logo"><span class="main">Groffle</span><span class="domain">.me</span></div>
			<span id="tagline">Create your own typography art.</span>
		</div>
		<div id="user_nav">
		  <% if user_signed_in? %>
		    Hello <%= current_user.nickname || current_user.email %>!
		    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
		  <% else %>
		    <%= link_to "Sign up", new_user_session_path %> or <%= link_to "sign in", new_user_session_path %>
		  <% end %>
		</div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
