  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%
if(ENV['RAILS_ENV']=='production')
	swfRandomizer = `cat #{Rails.root}/../static/f/client/version.txt`
else
	swfRandomizer = UUIDTools::UUID.random_create().to_s
end
flash_vars = {:mode=>@mode, 
	:templateUuid=>@template.uuid,
	:templateId=>@template.id,
	:userId=>(current_user ? current_user.id : nil),
	:relayUrl=>ERB::Util.url_encode(ENV["RELAY_URL"]),
	:templateUrl=>ERB::Util.url_encode(ENV["TEMPLATE_URL"]),
	:facebookUploadUrl => ERB::Util.url_encode(ENV["FACEBOOK_UPLOAD_URL"]),
	:token=>@token,
	:fbToken=>@fbToken,
	:fbUid=>@fbUid,
	:templateName=>@template.name
	}

%>
<%if can? :manage, @template%>
<script type="text/javascript">
window.onbeforeunload = function(){
	var message = "There might be unsaved changes to your template. Are you sure you want to navigate away from this page? ",
	  e = e || window.event;
	  // For IE and Firefox
	  if (e) {
	    e.returnValue = message;
	  }

	  // For Safari
	  return message;}
</script>
<%end%>
<script type="text/javascript"
	src="<%=ENV['FLASH_URL']+'swfobject.js'%>"></script>
<script type="text/javascript">
// $(document).ready(function(){
// 	// For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection. 
// 	var swfVersionStr = "10.2.0";
// 	// To use express install, set to playerProductInstall.swf, otherwise the empty string. 
// 	var xiSwfUrlStr = "playerProductInstall.swf";
// 	var flashvars = {};
// 	<%flash_vars.each do |k,v|%>
// 	flashvars.<%=k.to_s%> = "<%=v.to_s%>";
// 	<%end%>
// 	var params = {};
// 	params.quality = "high";
// 	params.bgcolor = "#ffffff";
// 	params.allowscriptaccess = "sameDomain";
// 	params.allowfullscreen = "true";
// 	params.wmode = 'opaque';
// 	var attributes = {};
// 	attributes.id = "Main";
// 	attributes.name = "Main";
// 	attributes.align = "middle";
// 	swfobject.embedSWF(
// 			"<%=ENV['FLASH_URL']+'GroffleClient.swf'%>?rnd=<%=swfRandomizer%>",
// 			"flashContent", "100%", "100%", swfVersionStr, xiSwfUrlStr,
// 			flashvars, params, attributes);
// 	// JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
// 	swfobject.createCSS("#flashContent", "display:block;text-align:left;");	
// });
</script>
<!-- SWFObject's dynamic embed method replaces this alternative HTML content with Flash content when enough 
             JavaScript and Flash plug-in support is available. The div is initially hidden so that it doesn't show
             when JavaScript is disabled.
        -->
<!-- <div id="flashContent">
	<p>To view this page ensure that Adobe Flash Player version 10.2.0
		or greater is installed.</p>
	<script type="text/javascript">
		var pageHost = ((document.location.protocol == "https:") ? "https://"
				: "http://");
		document
				.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='" 
                                + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>");
	</script> 
</div>
-->
<script tyle="text/javascript">
window.resizeFlash = function (){
	$('#Main').css("padding-top", $('#header').outerHeight()+"px");
	$('#Main').height($(window).height()-$('#header').outerHeight());
	$('#ieMain').css("padding-top", $('#header').outerHeight()+"px");
	$('#ieMain').height($(window).height()-$('#header').outerHeight());
}
$(document).ready(window.resizeFlash);
$(window).resize(window.resizeFlash);
</script>
<!-- <noscript> -->
	<div id="noscriptFlashWrapper">
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
		width="100%" id="Main" name="Main">
		<param name="movie"
			value="<%=ENV['FLASH_URL']+'GroffleClient.swf'%>?rnd=<%=swfRandomizer%>"
		<param name="quality" value="high" />
		<param name="bgcolor" value="#ffffff" />
		<param name="allowScriptAccess" value="sameDomain" />
		<param name="allowFullScreen" value="true" />
		<param name="wmode" value="opaque">
		<param name="FlashVars"
			value="<%=flash_vars.to_query%>" />
		<!--[if !IE]>-->
		<object type="application/x-shockwave-flash"
			data="<%=ENV['FLASH_URL']+'GroffleClient.swf'%>?rnd=<%=swfRandomizer%>"
			width="100%" id="ieMain">
			<param name="quality" value="high" />
			<param name="bgcolor" value="#ffffff" />
			<param name="allowScriptAccess" value="sameDomain" />
			<param name="allowFullScreen" value="true" />
			<param name="FlashVars"
				value="<%=flash_vars.to_query%>" />
			<param name="wmode" value="opaque">
			
			<!--<![endif]-->
			<!--[if gte IE 6]>-->
			<p>Either scripts and active content are not permitted to run or
				Adobe Flash Player version 10.2.0 or greater is not installed.</p>
			<!--<![endif]-->
			<a href="http://www.adobe.com/go/getflashplayer"> <img
				src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif"
				alt="Get Adobe Flash Player" />
			</a>
			<!--[if !IE]>-->
		</object>
		<!--<![endif]-->
	</object>
	</div>
<!-- </noscript> -->
<%if can? :manage, @template %>
<div id="modal">
	<%= form_for(@template,:remote => true) do |f| %>
	<div class="field">
	<%if (current_user && (not current_user.nickname)) %>
	
		<%= label_tag "Pick an artist name for yourself" %> 
		<%= text_field_tag 'nickname' %>
	<%end%>
	</div>

	<div class="field">
		<%= f.label :name, "Template name" %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_area :description, :rows => 10, :cols => 40 %>
	</div>
	<div class="field">
		<%= f.label :private, "Make this template private" %>
		<%= f.check_box :private %>
	</div>
	
	<%= f.hidden_field :uuid %>

	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>
</div>
<%end%>