  <ul class="nav nav-tabs" id="tyfulTabs">
  	<li class="active"><a href="#draw" id="drawButton">Draw</a></li>
  	<li><a href="#adjust" id="adjustButton">Adjust</a></li>
  	<li><a href="#share" id="shareButton">Share</a></li>
  </ul>

  <div class="tab-content">
  	<div class="tab-pane active" id="draw">

  		<% if @template.errors.any? %>
  		<div id="error_explanation">
  			<h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

  			<ul>
  				<% @template.errors.full_messages.each do |msg| %>
  				<li><%= msg %></li>
  				<% end %>
  			</ul>
  		</div>
  		<% end %>

  		<div class="row-fluid">
  			<div class="span12" style="height: 100%;">

  				<%if can? :manage, @template%>
  				<script type="text/javascript">
// window.onbeforeunload = function(){
// 	var message = "There might be unsaved changes to your template. Are you sure you want to navigate away from this page? ",
// 	  e = e || window.event;
// 	  // For IE and Firefox
// 	  if (e) {
// 	    e.returnValue = message;
// 	  }
// 
// 	  // For Safari
// 	  return message;}


</script>
<%end%>
<div class="row-fluid" style="text-align:center;">
	<div class="span9">
		<div id="mainCanvas">
			<canvas id="sketch" width="800" height="600" style="background-color:#ffffff;"></canvas>
			<div class="tools">
				<a href="#sketch" data-tool="marker">Marker</a>
				<a href="#sketch" data-tool="eraser">Eraser</a>
				<!--http://www.script-tutorials.com/demos/206/index.html-->
				<div style="display: inline-block;">
					<canvas id="color" width="300" height="30"></canvas>
				</div>
				<div style="display: inline-block;">
					<div>Preview:</div>
					<div id="preview"></div>
					<div id="pick"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="span3">
		<div class="affix" style="padding: 10px;">
			<div id="renderpreview-container">
				<canvas id="renderpreview" class="thumb zoomtransition" width="800" height="600"></canvas>
			</div>
			<div>
				<button type="button" class="btn btn-success btnRender" data-loading-text="Loading...">Generate</button>
			</div>
			<div id="shopping-area">
				<div class="row-fluid">
					<div class="span6">
						<canvas width="900" height="900" class="shopping-window zoomtransition"/>
					</div>
					<div class="span6">
						<canvas width="900" height="900" class="shopping-window zoomtransition"/>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span6">
						<canvas width="900" height="900" class="shopping-window zoomtransition"/>

					</div>
					<div class="span6">
						<canvas width="900" height="900" class="shopping-window zoomtransition"/>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>

<%if can? :manage, @template %>
<div id="modal">
	<%= form_for(@template,:remote => true) do |f| %>
	  <%= f.error_messages %>
	
	<div class="field">
		<%if (current_user && (not current_user.nickname)) %>

		<%= label_tag "Pick an artist name for yourself" %> 
		<%= text_field_tag 'nickname' %>
		<%end%>
	</div>

	<div class="field">
		<%= f.label :name, "Template name" %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_area :description, :rows => 10, :cols => 40 %>
	</div>
	<div class="field">
		<%= f.label :private, "Make this template private" %>
		<%= f.check_box :private %>
	</div>
	
	<%= f.hidden_field :uuid %>

	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>
</div>
<%end%>
</div>
<div class="tab-pane" id="adjust">
	<div class="row-fluid">
		<div class="span9">
			<div id="render-editor" style="width: 100%; height: 100%; overflow: scroll;">
				<canvas id="renderer"></canvas>
			</div>
		</div>
		<div class="span3">
			<button type="button" class="btn btn-success btnRender" data-loading-text="Loading...">Regenerate</button>
		</div>
	</div>
</div>
<div class="tab-pane" id="share">Share your Tyful artwork </div>
</div>

<div id="listener">
	<embed name="nacl_module"
	id="tyful_nacl_client"
	width=0 height=0
	src="/tyful_nacl_client.nmf"
	type="application/x-nacl" />
</div>