
<%content_for :head do%>
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<script type="text/javascript">
	$(document).ready(function(){
		$('#see-gallery').click(function(){
	        $('html,body').animate({scrollTop: $(".masonry-container").offset().top-$('#header-middle').outerHeight()},'slow');
		});
		
	});

	</script>
<%end%>


<%content_for :header do%>
<div class="instructional">

	Groffle analyzes words from your Facebook profile and transforms them into typography artworks. <br />
	Wanna give a try? Simply pick a template from the gallery below.
	<br /> Or, if you feel creative, <%= link_to 'Draw Your Own Template', new_template_path, {:class=>'create-button'} %> (It's simple, intuitive and fun!)</div>
<%end%>

<%if @show_intro %>
	<div id="intro-image" class="polaroid">
		  <p><a id="see-gallery" href="#">Cool. Please show me the gallery.</a></p>
		<%=image_tag 'groffle-intro.png'%>		
	</div>	
<%end%>

<div class="masonry-container">
	<% @templates.each do |template| %>
	<%=div_for template, :class=>'item box' do%>
	<div class="inner">	
	<%= link_to(image_tag(ENV['TEMPLATE_PREVIEW_URL']+template.uuid+'.png')+ '<h3>"'.html_safe+template.name+'"</h3>'.html_safe, template) %>
	by <%= link_to(template.user)%>
		<div class="tools">
			<% if can? :manage, template %>
			<%= link_to 'X', template, confirm: 'Are you sure you want to delete this template?', method: :delete %>
			<% end %>
		</div>

	 <div class="emote">
		<%=render(:partial => 'templates/emote', :layout => false, :object=>template, :as=>:template)%>
	</div>
	</div>
	<%end%>
	<% end %>
</div>