
<h1>Listing templates</h1>
<%= link_to 'Create Your Own Template (It\'s fun!)', new_template_path, {:class=>'create-button'} %>

<div class="masonry-container">
	<% @templates.each do |template| %>
	<%=div_for template, :class=>'item' do%>
		<%= link_to(image_tag(ENV['TEMPLATE_PREVIEW_URL']+template.uuid+'.png')+ '"'+template.name+'"', template) %>
		by <%= link_to(template.user)%>
		<div class="tools">
				<div class="emote">
					<%=render(:partial => 'templates/emote', :layout => false, :object=>template, :as=>:template)%>
				</div>
			<%= link_to 'Destroy', template, confirm: 'Are you sure?', method: :delete %>
		</div>
	<%end%>
	<% end %>
</div>