<%if @show_intro %>

<div class="hero-unit">
	<div class="row-fluid">
		<div class="span7">

			<h1>Create typography art from pictures.</h1>
			<p>First, collect a list of words from 
				<%= render_cell :word_list, :source %>
    			 </p>
			<p>Next, either <%= link_to 'draw some doodles (fun)', new_template_path, {:class=>'btn btn-primary btn-large'} %>, <a id="see-gallery" href="#" class="btn btn-primary btn-large">pick a template from gallery (for the lazy)</a>, or <%= link_to 'use a photo (for the adventurous)', new_template_path(:use_photo=>true), {:class=>'btn btn-primary btn-large'} %> and create your own typography art!</li>
 			</ul>
 		</p>


		</div>
		<div class="span5">
			<div class="well"></div>
		</div>
	</div>
</div>

<%end%>

<div class="masonry-container" id="container">
	<% @templates.each do |template| %>
	<%=div_for template, :class=>'item box' do%>
	<div class="inner">	
		<%= link_to(image_tag(ENV['TEMPLATE_PREVIEW_URL']+template.uuid+'.png')+ '<h3>'.html_safe+template.name+'</h3>'.html_safe, template) %>
	<div class="label-area">
		by <%= link_to(template.user)%>
			<div class="tools">
			</div>

			 <div class="emote">
				<%=render(:partial => 'templates/emote', :layout => false, :object=>template, :as=>:template)%>
			</div>
			
			<%= link_to 'Edit', edit_template_path(template) %>
			
			<% if can? :manage, template %>
			<%= link_to 'X', template, confirm: 'Are you sure you want to delete this template?', method: :delete %>
			<% end %>
	</div>
	</div>

	<%end%>
	<% end %>
</div>