<%content_for :header do%>
<div class="instructional">To create your Groffle artwork, pick a tempalte from the gallary below.
	<br /> Or, if you feel creative, <%= link_to 'Draw Your Own Template', new_template_path, {:class=>'create-button'} %> <br /> (It's super simple and shockingly fun!)</div>
<%end%>
<div class="masonry-container">
	<% @templates.each do |template| %>
	<%=div_for template, :class=>'item box' do%>
	<div class="inner">	
	<%= link_to(image_tag(ENV['TEMPLATE_PREVIEW_URL']+template.uuid+'.png')+ '<h3>"'.html_safe+template.name+'"</h3>'.html_safe, template) %>
	by <%= link_to(template.user)%>
		<div class="tools">
			<% if can? :manage, template %>
			<%= link_to 'X', template, confirm: 'Are you sure you want to delete this template?', method: :delete %>
			<% end %>
		</div>

	 <div class="emote">
		<%=render(:partial => 'templates/emote', :layout => false, :object=>template, :as=>:template)%>
	</div>
	</div>
	<%end%>
	<% end %>
</div>