
<%content_for :head do%>
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<style>
	
	.polaroid {
	  position: relative;
	  width: 220px;
	  margin: 20px;
	}

	.polaroid img {
	  border: 10px solid #fff;
	  border-bottom: 45px solid #fff;
	  -webkit-box-shadow: 3px 3px 3px #777;
	     -moz-box-shadow: 3px 3px 3px #777;
	          box-shadow: 3px 3px 3px #777;
	}

	.polaroid p {
	  position: absolute;
	  text-align: center;
	  width: 100%;
	  bottom: 0px;
	  font: 400 18px/1 'Kaushan Script', cursive;
	  color: #888;
	}
	</style>
<%end%>


<%content_for :header do%>
<div class="instructional">

	Groffle analyses words from your Facebook profile and timeline and presents them as typography artworks. <br />
	Give it a try by picking a tempalte from Grofle's public gallery below.
	<br /> Or, if you feel creative, <%= link_to 'Draw Your Own Template', new_template_path, {:class=>'create-button'} %> <br /> (It's simple, intuitive and fun!)</div>
<%end%>

	<div id="intro-image" class="polaroid">
		  <p>The Intro</p>
		<%=image_tag 'groffle-intro.png'%>
	</div>


<div class="masonry-container">

	
	<% @templates.each do |template| %>
	<%=div_for template, :class=>'item box' do%>
	<div class="inner">	
	<%= link_to(image_tag(ENV['TEMPLATE_PREVIEW_URL']+template.uuid+'.png')+ '<h3>"'.html_safe+template.name+'"</h3>'.html_safe, template) %>
	by <%= link_to(template.user)%>
		<div class="tools">
			<% if can? :manage, template %>
			<%= link_to 'X', template, confirm: 'Are you sure you want to delete this template?', method: :delete %>
			<% end %>
		</div>

	 <div class="emote">
		<%=render(:partial => 'templates/emote', :layout => false, :object=>template, :as=>:template)%>
	</div>
	</div>
	<%end%>
	<% end %>
</div>