<%if @show_intro %>

<div class="hero-unit">
	<div class="row-fluid">
		<div class="span7">

			<h1>Create amazing typography art. <h/1>
				<h2>Only skill required: doodling.</h2>
			<!-- <p>First, collect a list of words from 
				<%= render_cell :word_list, :source %>
    			 </p> -->
			<h3><%= link_to 'Start Creating Now', templates_newc_path(:use_photo=>true),{:class=>'btn btn-success btn-large'} %>,
			</h3>
			<h4>(Or, for teh lazy ones, <a id="see-gallery" href="#" class="btn">use a template from the community gallery.</a>)</h4>
 		</p>


		</div>
		<div class="span5">
			<div class="well"></div>
		</div>
	</div>
</div>

<%end%>

<div class="masonry-container" id="container">
	<% @templates.each do |template| %>
	<%=div_for template, :class=>'item box' do%>
	<div class="inner">	
		<%= link_to(image_tag(ENV['TEMPLATE_PREVIEW_URL']+template.uuid+'.png')+ '<h3>'.html_safe+template.name+'</h3>'.html_safe, template) %>
	<div class="label-area">
		by <%= link_to(template.user)%>
			<div class="tools">
			</div>

			 <div class="emote">
				<%=render(:partial => 'templates/emote', :layout => false, :object=>template, :as=>:template)%>
			</div>
			
			<%= link_to 'Edit', edit_template_path(template) %>
			
			<% if can? :manage, template %>
			<%= link_to 'X', template, confirm: 'Are you sure you want to delete this template?', method: :delete %>
			<% end %>
	</div>
	</div>

	<%end%>
	<% end %>
</div>