<%
content_for :head do%>
<%=global_meta_tags :title        => @template.name, \
    :type         => 'groffle:groffle_artwork', \
    :site_name    => 'Groffle', \
    :image        =>  ENV['TEMPLATE_PREVIEW_URL']+@template.uuid+'.png', \
    :app_id      =>  ENV['FB_APP_ID'], \
    :description  => @template.description
	%>
<%end
%>

<%content_for :header do%>
Template <h1>"<%=@template.name%>"</h1> by <%=link_to @template.user%>
<%end%>
<%= render 'form' %>

<%= link_to 'Back', templates_path %>
