<%

set_meta_tags :title => @template.name
set_meta_tags :description => @template.description + " Create cool typography artwork with Groffle."

content_for :head do
global_meta_tags :title        => @template.name, \
    :type         => 'groffle:groffle_artwork', \
    :site_name    => 'Groffle', \
    :image        =>  ENV['TEMPLATE_PREVIEW_URL']+@template.uuid+'.png', \
    :app_id      =>  ENV['FB_APP_ID'], \
    :description  => @template.description	
end
%>

<script type="text/javascript">
FB.Event.subscribe('edge.create',
    function(response) {
		$.ajax({url: '<%=url_for :controller=>"/templates", :action=>"like"%>'});
    }
);

FB.Event.subscribe('edge.remove',
    function(response) {
		$.ajax({url: '<%=url_for :controller=>"/templates", :action=>"unlike"%>'});
    }
);

</script>
<%content_for :header do%>
Template <h1>"<%=@template.name%>"</h1> by <%=link_to @template.user%> 
	<div class="emote">
		<div class="fb-like" data-send="true" data-layout="button_count" data-width="100" data-show-faces="false" data-font="lucida grande"></div>
	</div>
<%end%>

<%= render 'form' %>

<%= link_to 'Back', templates_path %>
