<% title "Facebook Post" %>

<p>
  <strong>Fbid:</strong>
  <%= @facebook_post.fbid %>
</p>
<p>
  <strong>Message:</strong>
  <%= @facebook_post.message %>
</p>
<p>
  <strong>Time Posted:</strong>
  <%= @facebook_post.time_posted %>
</p>
<p>
  <strong>Link:</strong>
  <%= @facebook_post.link %>
</p>
<p>
  <strong>Type:</strong>
  <%= @facebook_post.type %>
</p>
<p>
  <strong>Category:</strong>
  <%= @facebook_post.category %>
</p>

<p>
</p>
